##################### IKA NETWORK CONFIGURATION #####################
# The docker image of ika-node the cluster will use.
# IMPORTANT: All your tests will run against the Ika version in this image.
DOCKER_TAG=us-docker.pkg.dev/common-449616/ika-common-containers/ika-node:latest
# The total voting power of the network.
TOTAL_VOTING_POWER=4
# The quorum threshold for the network.
# If more than a $QUORUM_THRESHOLD of the validators are honest, the network is considered functional.
QUORUM_THRESHOLD=3
# The maximum voting power a single validator can have.
# This value must be greater than TOTAL_VOTING_POWER / NUMBER_OF_VALIDATORS.
MAX_VOTING_POWER=1
# If more than $VALIDITY_THRESHOLD of the validators agreed on something, and we assume the network is functional,
# then at least one honest validator must have voted for it.
VALIDITY_THRESHOLD=2
# The number of validators in the network.
VALIDATOR_NUM=4
# Ika epoch duration time.
EPOCH_DURATION_TIME_MS=86400000
# Don't change this unless you know what you're doing.
SUBDOMAIN=ika-dns-service.ika.svc.cluster.local

################################## SUI CONFIGURATION ##################################

# SUI fullnode URL.
SUI_FULLNODE_RPC_URL=https://fullnode.sui.beta.devnet.ika-network.net
#export SUI_FULLNODE_RPC_URL=http://localhost:9000
# Sui Docker URL (only needed if you run Ika on Docker against localhost on non-linux).
# If it's not against localhost, set it to the remote sui RPC.
#export SUI_DOCKER_URL=http://docker.for.mac.localhost:9000
SUI_DOCKER_URL=https://fullnode.sui.beta.devnet.ika-network.net
# SUI Faucet URL.
SUI_FAUCET_URL=https://faucet.sui.beta.devnet.ika-network.net/gas
#export SUI_FAUCET_URL=http://localhost:9123/gas
